black==25.1.0
casadi==3.6.7
click==8.1.8
msgpack==1.1.0
mypy-extensions==1.0.0
numpy==2.2.2
packaging==24.2
pandas==2.2.3
pathspec==0.12.1
platformdirs==4.3.6
pyntcore==2025.2.1.1
python-dateutil==2.9.0.post0
pytz==2025.1
robotpy-wpinet==2025.2.1.1
robotpy-wpiutil==2025.2.1.1
six==1.17.0
tomli==2.2.1
tqdm==4.67.1
typing_extensions==4.12.2
tzdata==2025.1
